body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #404041;
  margin: 0;
  padding: 0;
}

/*HEADER STYLING*/
header {
  background-color: #404041;
}

/*H1 STYLING*/
h1 {
  text-align: center;
  font-weight: 300;
  color: #dd1972;
  padding-top: 30px;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 60px;
}

.h-num {
  font-weight: 700;
}

/*SUB HEADER*/
h4 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  color: #ffffff;
  font-weight: 300;
}

/*Main Parent Container*/
main {
  display: flex;
  /*flex-wrap: wrap;*/
  /*@media query*/
}

/*LEFT COLUMN*/
.left-col {
 width: 50%;
 background-color: #f7f7f7;
 border-right: 2px solid black;
}

.right-col {
  background-color: #D1D2D4;
  width: 50%;
  /*display: flex;
  justify-content: center;*/
}

/*RANGE SECTION*/
.rng {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.min-input,
.max-input {
  display: flex;
  flex-direction: column;
}

.rng-head {
  margin: 0;
}

.rng-form {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 10px;
}

.txt-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name-input {
  display: flex;
  flex-direction: column;
}

.guess-input {
  display: flex;
  flex-direction: column;
}
.name {
  width: 290px;
}

input {
  padding: 8px;
}

#min-rng,
#max-rng {
  width: 130px;
}

#update {
  display: flex;
}


.vs {
  display: flex;
  justify-content: space-between;
}

.chall-head {
  margin-bottom: 4px;
/*  margin-left: 5px;
*/  margin-top: 5px;
}

.chal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  font-size: .95rem;
  font-weight: bold;
  background-color: gray;
  color: white;
  border-radius: 32px;
  padding: 6px 20px;
  margin: 4px;
  border: none;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
button:hover {
  background-color: #DD1972;
}

button:disabled {
  background-color: #D1D2D4;
}

.input-field {
  margin-bottom: 15px;
}

.rng-head {
  margin-bottom: 15px;
}

/*PLAY INPUT SECTION*/
.play-input {
  border: 1px solid #d0d2d3;
  width: 90%;
}

/*score section*/
.score {
  display: flex;
  border: 1px solid #d0d2d3;
  width: 90%;
/*  justify-content: center;
*/}

.tally {
  display: flex;
  flex-direction: column;
}

.card-left {
  background-color: #ffffff;
  border: 2px solid #d0d2d3;
  margin: 3%;
  padding: 2%;
}

.card-left p {
  margin-top: 0;
}

.card-right {
  background-color: #ffffff;
  border: 2px solid #6e6e6e;
  margin: 5%;
  padding: 2%;
}

/*//////////////////////////////////////////*/
/*ERROR MESSAGE*/
.error-hidden {
  display: none;
}

.error-shown {
  margin-top: 10px;
  font-size: 14px;
  color: #dd1972;
}

.empty {
  border-color: #dd1972;
}

img {
  width: 15px;
  margin-top: 7px;
  margin-right: 3px;
}

/*//////////////////////////////////////////*/
/* LATEST SCORE SECTION */
.card-reset {
  padding: 0;
  margin: 0;
}

.vs {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  /*margin-top: 5px;*/
}

.current1 {
  width: 50%;
  border-right: 2px solid lightgray;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
}

.current2 {
  width: 50%;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
}

.chal {
  font-weight: 700;
}

h5 {
  font-size: 16px;
}

.current {
  font-size: 15px;
}

.js-big-num {
  color: #f74d98;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 0px;
}

.js-low-high {
  color: gray;
  font-weight: 400;
}


/*//////////////////////////////////////////*/
/*CARDS ON RIGHT*/
.card-right {
  display: flex;
  flex-direction: column;
}

.right-names {
  color: black;
  font-weight: 700;
}

.chall-names {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid #d0d2d3;
}

.chall-names h4 {
  color: #404041;
}

.chall-names p {
  margin-top: 0px;
  color: #404041;
}

.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #d0d2d3;
}

.winner-name {
  margin-bottom: 2px;
}

.display-winner {
  margin-top: 2px;
  font-weight: 300;
}

.guesses-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  border-radius: 50%;
  color:#ffffff;
  font-size: 16px;
  height: 22px;
  width: 22px;
  padding: 0;
  font-weight: 300;
}





