body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #404041;
  margin: 0;
  padding: 0;
}

/*HEADER STYLING*/
header {
  background-color: #404041;
}

/*H1 STYLING*/
h1 {
  text-align: center;
  font-weight: 300;
  color: #dd1972;
  padding-top: 30px;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 60px;
}




.h-num {
  font-weight: 700;
}

/*SUB HEADER*/
h4 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  color: #ffffff;
  font-weight: 300;
}

/*Main Parent Container*/
main {
  display: flex;
  /*flex-wrap: wrap;*/
  /*@media query*/
}

/*LEFT COLUMN*/
.left-col {
 /*display: flex;
 justify-content: space-around;*/
/* flex-direction: column;*/
 width: 50%;
 background-color: #f7f7f7;
 border-right: 2px solid black;
}

.right-col {
  background-color: #D1D2D4;
  width: 50%;
  /*display: flex;
  justify-content: center;*/
}

.tally {
  /*justify-content: center;*/
}

/*RANGE SECTION*/
.rng {
  border: 1px solid #d0d2d3;
  width: 90%;
  margin: 5%;
  /*justify-content: center;*/
}

.rng-head {
  margin: 0;
}

.rng-form {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 10px;

}

.txt-field {
  display: flex;
  flex-direction: column;
}

.name {
  width: 290px;
}

input {
  padding: 8px;
}

#min-rng,
#max-rng {
  width: 130px;
}

#update {
  display: flex;
}


.vs {
  display: flex;
  justify-content: space-between;
}

.chall-head {
  margin-bottom: 4px;
  margin-left: 5px;
}

.chal1-form {
  display: flex;
  justify-content: space-around;
}

.chal2-form {
  display: flex;
  justify-content: space-around;
}

input[value] {
  font-size: .95rem;
  font-weight: bold;
  background-color: gray;
  color: white;
  border-radius: 32px;
  padding: 6px 20px;
  margin: 4px;
}

/*.buttons-x3 {
  display: flex;
  justify-content: space-around;
}
*/
/*PLAY INPUT SECTION*/
.play-input {
/*  display: flex;*/
  border: 1px solid #d0d2d3;
  width: 90%;
 /* justify-content: center;*/

}

/*score section*/
.score {
  display: flex;
  border: 1px solid #d0d2d3;
  width: 90%;
/*  justify-content: center;
*/}

.tally {
  display: flex;
  flex-direction: column;
}

.card-left {
  background-color: #ffffff;
  border: 2px solid #d0d2d3;
  margin: 3%;
  padding: 2%;
}

.card-left p {
  margin-top: 0;
}

.card-right {
  background-color: #ffffff;
  border: 2px solid #6e6e6e;
  margin: 5%;
  padding: 2%;
}

/*RANGE HEADER*/
h3 {

}

/*GROUP ALL INPUT LABELS TOGETHER TOO? MIN, MAX, NAMES, GUESSES.*/
/*MIN RANGE*/

.min-rng {

}

/*ADD CLASSES TO ALL BUTTONS? SO WE CAN BASE STYLE THEN STYLE FURTHER?*/
/*I don't think this is written correctly, but just want to make sure to revisit it.*/
input[type="submit"] {

}



/*for current range is... maybe we can class this out?*/
legend p {

}

/* Chal-1 VS Chal-2 */

.card-reset {
  padding: 0;
  margin: 0;
}

#latest {
  /*position: absolute;
  display: flex;
  align-items: flex-start;*/
}

.vs {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  /*margin-top: 5px;*/
}

.current1 {
  width: 50%;
  border-right: 2px solid lightgray;
  /*display: flex;*/
  padding: 5px;
  padding-top: 10px;
  text-align: center;
}

.current2 {
  width: 50%;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
}

.chal {
  font-weight: 700;
}

.js-big-num {
  color: #f74d98;
  font-weight: 700;
  font-size: 30pt;
}

.js-low-high {
  color: gray;
  font-weight: 400;
}

/*SHOULD WE ADD A CLASS TO THE CURRENT GUESS AND STYLE TOGETHER?*/
p .current-guess {

}


/*ADD CLASS TO LOW-HIGH AND STYLE TOGETHER?*/
var .low-hight {

}






