/*BODY STYLING*/
body {
  color: #404041;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

/*HEADER STYLING*/
header {
  background-color: #404041;
  width: 100%;
}

/*H1 STYLING*/
h1 {
  color: #dd1972;
  font-size: 400%;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0px;
  padding-top: 30px;
  text-align: center;
}

.h-num {
  font-weight: 700;
}

/*SUB HEADER*/
.sub-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lines {
  border-top: 1px solid white;
  display: inline-block;
  margin-top: 10px;
  width: 10%;
}

h4 {
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  padding-bottom: 20px;
  text-align: center;
}

/*Main Parent Container*/
main {
  display: flex;
}

/*LEFT COLUMN*/
.left-col {
 background-color: #f7f7f7;
 border-right: 2px solid black;
 width: 50%;
}

.right-col {
  display: flex;
  flex-direction: column;
  height: 780px;
  overflow-y: scroll;
  width: 50%;
  background-color: #D1D2D4;
}

/*RANGE SECTION*/
.txt-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rng-head {
  margin: 0;
  margin-bottom: 15px;
}

.rng-form {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.range-inputs {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

.min-input,
.max-input {
  display: flex;
  flex-direction: column;
}


/*GAME INPUT SECTION*/
.name-input {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.guess-input {
  display: flex;
  flex-direction: column;
  width: 30%;
}

input {
  padding: 8px;
}

/*LATEST SCORE SECTION*/
.vs {
  display: flex;
  justify-content: space-between;
}

.chall-head {
  margin-bottom: 4px;
  margin-top: 5px;
}

.chal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#js-min-update,
#js-max-update {
  font-weight: 700;
  text-decoration: underline;
}

button {
  background-color: gray;
  border-radius: 32px;
  border: none;
  color: white;
  font-size: .95rem;
  font-weight: bold;
  margin: 4px;
  padding: 6px 20px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button:hover {
  background-color: #DD1972;
}

button:disabled {
  background-color: #D1D2D4;
}

.input-field {
  margin-bottom: 15px;
}

/*PLAY INPUT SECTION*/
.play-input {
  border: 1px solid #d0d2d3;
}

/*score section*/
.score {
  border: 1px solid #d0d2d3;
  display: flex;
  width: 90%;
}

.card-left {
  background-color: #ffffff;
  border: 2px solid #d0d2d3;
  margin: 3%;
  padding: 2%;
}

.card-left p {
  margin-top: 0;
}

.card-right {
  background-color: #ffffff;
  border: 2px solid #a8a6a6;
  margin: 5%;
  min-height: 220px;
  padding: 2%;
}

/*ERROR MESSAGE*/
.error-hidden,
.error-hidden2 {
  display: none;
}

.error-shown,
.error-shown2 {
  color: #dd1972;
  font-size: 14px;
  margin-top: 10px;
}

.empty {
  border-color: #dd1972;
}

img {
  margin-right: 3px;
  margin-top: 7px;
  width: 15px;
}

/* LATEST SCORE SECTION */
.card-reset {
  margin: 0;
  padding: 0;
}

.vs {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.current1 {
  border-right: 2px solid lightgray;
  padding-top: 10px;
  padding: 5px;
  text-align: center;
  width: 50%;
}

.current2 {
  padding-top: 10px;
  padding: 5px;
  text-align: center;
  width: 50%;
}

.chal {
  font-weight: 700;
}

h5 {
  font-size: 16px;
}

.current {
  font-size: 15px;
}

.js-big-num {
  color: #f74d98;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 0px;
}

.js-low-high {
  color: gray;
  font-weight: 400;
}


/*//////////////////////////////////////////*/
/*CARDS ON RIGHT*/
.card-right {
  display: flex;
  flex-direction: column;
}

.right-names {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

.chall-names {
  border-bottom: 2px solid #d0d2d3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chall-names h4 {
  color: #404041;
}

.chall-names p {
  color: #404041;
  margin-top: 0px;
}

.winner {
  align-items: center;
  border-bottom: 2px solid #d0d2d3;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.winner-name {
  margin-bottom: 2px;
}

.display-winner {
  font-weight: 300;
  margin-top: 2px;
}

.guesses-time {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-btn {
  border-radius: 50%;
  color:#ffffff;
  font-size: 16px;
  font-weight: 700;
  height: 22px;
  padding: 0;
  width: 22px;
}

/*//////////////////////////////////////////*/
/*MEDIA QUERIES*/

/*MOBILE*/
@media screen and (max-width: 450px), (max-width: 800px){
  main {
    display: flex;
    flex-wrap: wrap;
  }
  .left-col {
    border-right: none;
  }

  .ultimate {
    font-size: 85%;
  }

  .h-num {
    margin-bottom: -10px;
  }

  .rng-form {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2px;
  }

  .range-inputs input {
    border: 1px solid lightgray;
  }

  #js-update {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .left-col,
  .right-col,
  .range-inputs,
  .name-input,
  .guess-input {
    width: 100%
  }

  .button,
  .vs,
  .mobile-chal {
    display: flex;
    flex-direction: column;
  }

  .current1 {
    border-right: 0;
    width: 100%;
  }

  .current2 {
    border-top: 2px solid lightgray;
    width: 100%;
  }

  .chall-names {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .right-names {
    padding: 2px;
  }

  .chall-names p {
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 350%;
  }
  .vs {
    display: flex;
    flex-direction: row;
  }

  .current2 {
    border-left: 2px solid lightgray;
    border-top: 0;
  }
}


@media screen and (max-width: 500px) {
  h1 {
    font-size: 200%;
  }

  .vs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .current2 {
    border-left: 0;
    border-top: 2px solid lightgray;
  }
}